<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <p>
                <a href="{% url 'todo_item_create' todo_object.id %}">Add New Todo Item</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                        {% for list in todo_object.items.all %}
                        <td> {{ list.task }}</td>
                        <td>{{ list.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            <form action="{% url 'delete_list' todo_object.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ todo_object.name }}</h1>
            <p>
                <a href="{% url 'todo_item_create' todo_object.id %}">Add New Todo Item</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_item in todo_object.items.all %}
                    <tr>
                        <td>{{ todo_item.task }}</td>
                        <td>{{ todo_item.due_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{% url 'delete_list' todo_object.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>
