<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
</head>
<body>
<main>
    <div>
        <h1>My Lists</h1>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
        <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number Of Items</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    {% for list in lists %}
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td>{{ list.items.all|length }} </td>
                    <td><a href="{% url 'todo_item_create' list.id %}">Create a new item</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <a href="{% url 'todo_list_create' %}">Create a new list</a>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number Of Items</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in lists %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                        <td>{{ list.items.all|length }}</td>
                        <td><a href="{% url 'todo_item_update' id=list.id %}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
</head>
<body>
<main>
    <div>
        <h1>My Lists</h1>
        <a href="{% url 'todo_list_create' %}">Create a new list</a>
        <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number Of Items</th>
            </tr>
        </thead>
            <tbody>
                {% for list in lists %}
                <tr>
                    <td><a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a></td>
                    <td>{{ list.items.all|length }} </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <thead>
                                <tr>
                                    <th>Task</th>
                                    <th>Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in list.items.all %}
                                <tr>
                                    <td>{{ item.task }}</td>
                                    <td>{{ item.due_date }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
</html> -->
