<!DOCTYPE html>
<html>
<head>
    <title>Update Todo Item</title>
</head>
<body>
    <main>
        <div>
            <h1>Update item</h1>
            <form method="POST" action="{% url 'todo_item_update' id=todo_item.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Update</button>
            </form>
        </div>
    </main>
</body>
</html>

<!--
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        {% for item in todo_list.items.all %}
            <tr>
                <td><a href="{% url 'todos:todo_item_update' item.id %}">{{ item.task }}</a></td>
                <td>{{ item.due_date }}</td>
                <td>{{ item.is_completed }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> -->
