<!-- <!DOCTYPE html>
<html>
<head>
    <title>Create a new Item</title>
</head>
<body>
    <h1>Create Todo Item</h1>
    <form method="POST" action="{% url 'todo_item_create' list_id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Create Todo Item</title>
</head>
<body>
    <h1>Create Todo Item</h1>
    <form method="POST" action="{% url 'todo_item_create' list_id %}">
        {% csrf_token %}
        <div>
            <label for="task">Task:</label>
            <input type="text" name="task" id="task">
        </div>
        <div>
            <label for="due_date">Due Date:</label>
            <input type="text" name="due_date" id="due_date">
        </div>
        <div>
            <label for="is_completed">Is Completed:</label>
            <input type="checkbox" name="is_completed" id="is_completed">
        </div>
        <div>
            <label for="list">List:</label>
            <select name="list" id="list">
                {% for todo_list in todo_lists %}
                <option value="{{ todo_list.id }}">{{ todo_list.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>
